body{

  background-image:url("book.jpg");
}
.container{
    display:flex;
    flex-direction: column;

}
.header{
    border:20px solid red;
    flex-basis:100%;
}

.logo{
    float: right;
}
 .secondcontainer{
     display:flex;
     padding-top: 20px;
     }
.thirdcontainer{
    display: flex;

    flex-direction: column;

    flex-grow:2;

}

 .sidenav {
   height: 100vh;
  flex-shrink: 2;
  align-self: stretch;
  background-color: #111;


  }


  .sidenav a {
    padding: 30px 10px 6px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
@media screen and (max-width: 920px) {
 .sidenav {
        width: 100px;
         }
    .sidenav a {
        font-size: 18px;
        padding-left:15px;
    }
    .img{
        border:100px solid greenyellow;


    }

  }
  @media screen and (max-width: 600px) {
    .sidenav {
        width: 60px;
    }

    .sidenav a {
        font-size: 14px;
        padding-left: 5px;
        align-items: left;
    }
    .images{
        padding:5px;
        flex-direction: column;
    }




  }
  .search{
      display: flex;
      margin-top: 70px;
      margin-left: 60px;

  }
  input{
      height:40px;
      width:300px;
  }



 .images{
display:flex;
flex-wrap: wrap;
justify-content:space-around;
  width:100%;
  flex-basis: 100%;
  margin-top: 50px;
  padding:10px;

    }
 .img{
     border:1px solid greenyellow;
     height:300px;
     width:300px;


 }
