
.container{
    display:flex;
    flex-direction: column;

}
.header{
   
    flex-basis:100%;
     overflow: hidden;
    background-color: #f1f1f1;
  padding: 20px 10px;
  height:40px;
      
}


.logo{
    float: right;
}
 .secondcontainer{
     display:flex;
     padding-top: 20px;
     }
.thirdcontainer{
    display: flex;

    flex-direction: column;

    flex-grow:2;

}

 .sidenav {
   height: 100vh;
  flex-shrink: 2;
<<<<<<< HEAD
   align-self: stretch;
    background-color:#f1f1c1;;
    
   
=======
  align-self: stretch;
  background-color: #111;


>>>>>>> df2b1a1fb9f5ca07bf73cbdb88878bdd88592ef2
  }


  .sidenav a {
    padding: 30px 10px 6px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
}
.sidenav a:hover {
    color: black;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
@media screen and (max-width: 920px) {
 .sidenav {
        width: 100px;
         }
    .sidenav a {
        font-size: 18px;
        padding-left:15px;
    }
    .img{
        border:100px solid greenyellow;


    }

  }
  @media screen and (max-width: 600px) {
    .sidenav {
        width: 60px;
    }

    .sidenav a {
        font-size: 14px;
        padding-left: 5px;
        align-items: left;
    }
    .images{
        padding:5px;
        flex-direction: column;
    }




  }
  #searchInput{
      display: flex;
      margin-top: 70px;
      margin-left: 60px;

  }
  input{
      height:40px;
      width:300px;
  }

<<<<<<< HEAD
 
 
 #images{
=======


 .images{
>>>>>>> df2b1a1fb9f5ca07bf73cbdb88878bdd88592ef2
display:flex;
flex-wrap: wrap;
justify-content:space-around;
  width:100%;
  flex-basis: 100%;
  margin-top: 50px;
  padding:10px;

    }
 .img{
     border:1px solid greenyellow;
<<<<<<< HEAD
     height:400px;
     width:400px;
  

 }

 /*css for form.html*/

 
 
 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.details {
    margin-top: 100px;
    margin-left: 700px;
    height:600px;
    width:500px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
=======
     height:300px;
     width:300px;


 }
>>>>>>> df2b1a1fb9f5ca07bf73cbdb88878bdd88592ef2
